.default-view {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.default-view-container {
  max-width: 600px;
  text-align: center;
  color: #4a4a4a;
}

.default-view h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.default-view p {
  font-size: 1rem;
  opacity: 0.7;
}
