.users-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3px;
  box-sizing: border-box;
  background-color: #172342ff;
  color: white;
  border-right: 1px solid #444;
}

.default-header {
  margin-bottom: 20px;
}

.users-view__list-container {
  margin-right: 20px;
  max-height: 100%;
  flex: 1;
  overflow-y: auto;
  border-right: 1px solid #444; /* giảm xuống để tránh chồng scrollbar */
  box-sizing: border-box;
  border: 1px solid #2c3e50;  
}

.users-view__list-container::-webkit-scrollbar {
  width: 9px;
}

.users-view__list-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
